@font-face {
  font-family: 'outfit';
  src: url('./Assets/Fonts/Outfit-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'ralway';
  src: url('./Assets/Fonts/Raleway-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'afacad';
  src: url('./Assets/Fonts/Afacad-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'poppins';
  src: url('./Assets/Fonts/Afacad-VariableFont_wght.ttf');
}

/* @font-face {
  font-family: 'antipastro';
  src: url('./Assets/Fonts/AntipastoPro-Medium_trial.ttf');
} */

@font-face {
  font-family: 'josefin';
  src: url('./Assets/Fonts/JosefinSans-Regular.ttf');
}
/* 
@font-face {
  font-family: 'cocogoose';
  src: url('./Assets/Fonts/Cocogoose\ Pro\ Regular\ Trial.ttf');
} */


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {

  /* .sign-button{
    @apply  
  } */
  .user-info-aside * {
    @apply font-[raleway] text-lg font-medium py-1.5 px-3 rounded
  }
  .education-div span{
    @apply text-lg font-normal text-purple-400 drop-shadow-md
  }
  .education-div{
    @apply text-lg font-semibold
  }
}

.logo {
  filter: invert(15%) sepia(88%) saturate(3183%) hue-rotate(259deg) brightness(88%) contrast(101%);
}

html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  /* background: #e0f2fe; */
  background: #d1d5db;
}

::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  background: #075985;
  background: #9ca3af;
  /* border-radius: 3px; */
}

::-webkit-scrollbar-thumb:hover {
  /* background: #1d4ed8;  */
  background: #082f49;
  background: #6b7280;
  cursor: pointer;
}

input::file-selector-button {
  font-weight: medium;
  background-color: white;
  color: #7e22ce;
  padding: 0.75% 1.5%;
  border: thin solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

input::file-selector-button:hover {
  background-color: #7e22ce;
  color: #fff;
}

.user-loading-text {
  font-family:"outfit";
  -webkit-text-stroke: 1.5px #fbbf24;
  -webkit-text-fill-color: #00000044;
}

.user-border-text {
  font-family:"outfit";
  -webkit-text-stroke: 1px #fbbf24;
  -webkit-text-fill-color: #00000044;
}

.user-name-text {
  font-family:"outfit";
  -webkit-text-stroke: 1.5px #fbbf24;
  -webkit-text-fill-color: #00000099;
}

.know-more-text {
  text-shadow: 0px 0px 10px #fbbe24b0;
}

/* .border-gradient {
  border-width: 2px;
  border-style: solid;
  border-radius: 2%;
  border-image: linear-gradient(to right, #a855f7, #fbbf24) 1;
} */
.masonry {
  column-count: 3; 
  column-gap: 1rem; 
}

.masonry-item {
  display: inline-block;
  margin-bottom: 1rem; 
  width: 100%;
}

@keyframes roll-in {
  0% {
      opacity: 0;
      transform: translateY(-50px) rotateX(-90deg);
  }
  100% {
      opacity: 1;
      transform: translateY(0) rotateX(0);
  }
}

.animate-roll-in .contact-card {
  animation: roll-in 0.5s ease forwards;
  animation-delay: calc(0.1s * var(--index));
}

