@font-face {
  font-family: 'outfit';
  src: url('./Assets/Fonts/Outfit-VariableFont_wght.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
  /* .sign-button{
    @apply  
  } */
  .user-info-aside  *{
    @apply font-[raleway] text-lg font-medium py-1.5 px-3 rounded
  }
}
.logo{  
  filter: invert(15%) sepia(88%) saturate(3183%) hue-rotate(259deg) brightness(88%) contrast(101%);
} 

html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  /* background: #e0f2fe; */
  background: #d1d5db;
}

::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  background: #075985;
  background: #9ca3af; 
  /* border-radius: 3px; */
}

::-webkit-scrollbar-thumb:hover {
  /* background: #1d4ed8;  */
  background: #082f49; 
  background: #6b7280;
  cursor: pointer;
}

input::file-selector-button {
  font-weight: medium;
  background-color: white;
  color: #7e22ce;
  padding: 0.75% 1.5%;
  border: thin solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
input::file-selector-button:hover {
  background-color: #7e22ce;
  color: #fff;
}
